@model Petalos.Areas.Models.ViewModels.FloresCrud
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment env
@{
    Layout = "_Layout";
}
<h2 class="titulo">Agregar flor </h2>
<form method="post" asp-area="Admin" asp-action="AgregarFlor" asp-controller="Flores">
    <label>Nombre:</label><input asp-for="Flor.Nombre" type="text" /><br />
    <label>Nombre Científico:</label><input asp-for="Flor.NombreCientifico" type="text" /><br />
    <label>Nombre Común:</label><input asp-for="Flor.NombreComun" type="text" /><br />
    <label>Origen:</label><input asp-for="Flor.Origen" type="text" /><br />
    <label>Descripción:</label><textarea asp-for="Flor.Descripcion" rows="5"></textarea><br />
    <p style="color:blueviolet;font-size:15px">
     
       @Html.ValidationSummary()
    </p>
    <input style="float:left" type="submit" value="Agregar" />
    <a href="~/admin/" style=" line-height: 18px; width: 100px; height: 18px; display: block; text-align: center; text-decoration: none; background-color: #025975; color: white; padding: 5px; border: 1px solid black; float: left; margin-top:15px ; margin-left: 60px ">
    </a>
</form>

