@model Petalos.Areas.Models.ViewModels.FloresCrud
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment env
@{
    Layout = "_Layout";
}
<h2 class="titulo">Editar flor</h2>
<form method="post" asp-area="Admin" asp-action="EditarFlor" asp-controller="Flores">
    <input hidden asp-for="Flor.Idflor" />
    <label>Nombre:</label><input asp-for="Flor.Nombre" type="text" /><br />
    <label>Nombre Cientifico:</label><input asp-for="Flor.NombreCientifico" type="text" /><br />
    <label>Nombre Común:</label><input asp-for="Flor.NombreComun" type="text" /><br />
    <label>Origen:</label><input asp-for="Flor.Origen" type="text" /><br />
    <label>Descripción:</label><textarea asp-for="Flor.Descripcion" rows="5"></textarea><br />
    <p style="color:red;font-size:15px">
        @Html.ValidationSummary()
    </p>
    <input style="font-size:25px;padding:5px;font-weight:bold;height:50px;float:left" 
           type="submit" value="&#128190" />

    <a href="~/admin/" style=" line-height: 18px; width: 100px; height:
     18px; display: block; text-align: center; text-decoration: none;
           background-color: #025975; color: whitesmoke; padding: 5px; border:
               1px black; float: left; margin-top: 16px; margin-left: 20px;height:38px;display:block;line-height:38px ">
    </a>
</form>

