<!DOCTYPE html>
<html>
<head>
    <title>Pétalos & flores</title>
    <link href="~/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <header>
        <h1>
            <a href="/">Pétalos & flores</a>
        </h1>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>
        Programa complementario(ASP.NET MVC) unidad 3
    </footer>
</body>
</html>
